In [2]:
import pandas as pd
import glob
import os

In [3]:
# Replace this with your actual folder path
folder_path = "./bardata"

# Get a list of all CSV files in the folder
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

print("Found CSV files:")
for file in csv_files:
    print(file)

Found CSV files:
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2022-09.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2022-08.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-07.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-06.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-12.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-04.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-10.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-11.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-05.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-01.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-08.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-09.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-02.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-03.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-07.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-12.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-06.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-10.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-04.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-05.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-11.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-01.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-08.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2023-09.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-02.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2024-03.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2022-11.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2022-10.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2022-12.csv
/Users/jetzeeveleens/Downloads/bardata/export_ruwe_transactiegegevens 2022-07.csv

In [4]:
# List to hold individual DataFrames
df_list = []

for file in csv_files:
    # Read only the columns you want using sep=';' and the given encoding.
    df_temp = pd.read_csv(file, sep=';', encoding='utf-8', usecols=["Aantal * prijs", "Datum", "Product"])
    df_list.append(df_temp)

# Concatenate all DataFrames into a single DataFrame
merged_df = pd.concat(df_list, ignore_index=True)

# Display the first few rows to verify
print("Merged DataFrame preview:")
merged_df.head()

Merged DataFrame preview:

              Datum               Product  Aantal * prijs
0  29-09-2022 18:54  Too late - Rush Hour            50.0
1  29-09-2022 18:54         Shot tequila              9.0
2  29-09-2022 18:54             Heineken              7.0
3  29-09-2022 18:54          Recycle munt             5.0
4  29-09-2022 18:54       Buitenlands mix             8.5

In [5]:
# Remove rows where "Aantal * prijs" is negative
cleaned_df = merged_df[merged_df["Aantal * prijs"] >= 0]

print("Cleaned DataFrame preview (no negative 'Aantal * prijs'):")
cleaned_df.head()

Cleaned DataFrame preview (no negative 'Aantal * prijs'):

              Datum               Product  Aantal * prijs
0  29-09-2022 18:54  Too late - Rush Hour            50.0
1  29-09-2022 18:54         Shot tequila              9.0
2  29-09-2022 18:54             Heineken              7.0
3  29-09-2022 18:54          Recycle munt             5.0
4  29-09-2022 18:54       Buitenlands mix             8.5

In [7]:
# Check how many missing values each column has
print("Number of missing values:")
print(cleaned_df.isna().sum())

Number of missing values:
Datum             0
Product           0
Aantal * prijs    0
dtype: int64

In [13]:
# Define output path
output_path = "/Users/jetzeeveleens/Downloads/merged_cleaned_data.csv"

# Save to CSV
cleaned_df.to_csv(output_path, index=False)

print(f"Cleaned data saved to: {output_path}")

Cleaned data saved to: /Users/jetzeeveleens/Downloads/merged_cleaned_data.csv