In [1]:
import pandas as pd
import glob
import os

In [2]:
bar_data_file = './data_cleaned/merged_cleaned_data.csv'

bar_df = pd.read_csv(bar_data_file)

bar_df.head()

              Datum               Product  Aantal * prijs
0  29-09-2022 18:54  Too late - Rush Hour            50.0
1  29-09-2022 18:54         Shot tequila              9.0
2  29-09-2022 18:54             Heineken              7.0
3  29-09-2022 18:54          Recycle munt             5.0
4  29-09-2022 18:54       Buitenlands mix             8.5

In [3]:
scan_data_file = './data_output/ticket_concat_goed.csv'

scan_df = pd.read_csv(scan_data_file)

scan_df.head()

  first_event_date_start  last_event_date_end
0    2024-07-28 14:00:00  2024-07-28 23:00:00
1    2024-07-28 14:00:00  2024-07-28 23:00:00
2    2024-07-28 14:00:00  2024-07-28 23:00:00
3    2024-07-28 14:00:00  2024-07-28 23:00:00
4    2024-07-28 14:00:00  2024-07-28 23:00:00

In [5]:
bar_df['datum_datum'] = pd.to_datetime(bar_df['Datum'], dayfirst=True).dt.date
scan_df['datum_datum'] = pd.to_datetime(scan_df['first_event_date_start']).dt.date

print(bar_df['datum_datum'][0])
print(scan_df['datum_datum'][0])

2022-09-29
2024-07-28

In [7]:
joined_df = bar_df.merge(scan_df, on='datum_datum')

:

In [13]:
joined_df.head()

,Datum,Product,Aantal * prijs,datum_datum_bar,first_event_date_start,last_event_date_end,datum_datum
0,29-09-2022 18:54,Too late - Rush Hour,50.0,2022-09-29,NaN,NaN,NaN
1,29-09-2022 18:54,Shot tequila,9.0,2022-09-29,NaN,NaN,NaN
2,29-09-2022 18:54,Heineken,7.0,2022-09-29,NaN,NaN,NaN
3,29-09-2022 18:54,Recycle munt,5.0,2022-09-29,NaN,NaN,NaN
4,29-09-2022 18:54,Buitenlands mix,8.5,2022-09-29,NaN,NaN,NaN